{
  "job": {
    "start_date": "2018-05-06",
    "end_date": "2018-05-06"
  },
  "credentials": {
    "access_token": "[FACEBOOK ACCESS TOKEN]"
  },
  "upload": {
    "s3_url": "",
    "timeout": 1200
  },
  "logger": {
    "format": "json",
    "level": "debug"
  }
}
